*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Genos', sans-serif;
  background-color: #F1F2EB;
}

html,
body {
  scroll-behavior: smooth;
}

::selection {
  background: #BAD1BB;
  color: #F1F2EB;
}

::-moz-selection {
  background: #BAD1BB;
  color: #F1F2EB;
}

section {
  display: flex;
  height: 100vh;
  /* width: 100%; */
}

/* HOME */

/* PROJECTS */

/* ======== EMBLA CAROUSEL ======== */

.embla {
  position: relative;
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  position: relative;
  flex: 0 0 100%;
}

/* ======== BACKGROUND ======== */

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -1;
}