*, *::after, *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: darkcyan;
  /* overflow: hidden; */
}

/* =========
Embla Carousel
========= */

.embla {
  overflow: hidden;
  max-width: 200px;
}
.embla__container {
  display: flex;
}
.embla__slide {
  position: relative;
  flex: 0 0 100%;
}

/* =========
Background
========= */

#background {
  width: 100%;
}